body {
  background-color: #202024;
}

header {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.hidden-top {
  height: 48px;
}

header nav:nth-child(2),
.hidden-top {
  background-color: black;
}

.latest-new-header a,
h3 {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 2em 0;
  padding-top: 1em;
}

.hidden-top ul li a,
header nav:nth-child(2) ul li a {
  font-family: maquette, Arial, serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  color: #919191;
}

.latest-new-header a:hover,
.gallery-item a:hover,
.list-latest-header a:hover {
  color: rgb(255, 68, 34);
}

header nav:nth-child(2) ul:first-child {
  margin-left: 20px;
}

header nav:nth-child(2) ul:last-child {
  margin-right: 20px;
}

.hidden-top ul li a:hover,
header nav:nth-child(2) ul li a:hover {
  color: white;
}

main {
  padding-top: 10px;
}

.latest-new-header {
  font-family: Avalon, Arial, sans-serif;
}

.gallery-item,
.gallery-latest {
  width: 100%;
  height: 100%;
  background: #2c2c32;
  border-radius: 4px;
  text-align: center;
}

.gallery-item .image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.gallery-item .image img,
.gallery-latest .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.gallery-item .slide-description {
  font-family: maquette, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 7px;
  padding-right: 20px;
}

.author {
  font-family: maquette, Arial, serif;
  padding: 0 4px;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  color: #f0e8e8;
}

@media (min-width: 768px) {
  .gallery-item .slide-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  .gallery-item .author {
    padding: 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    color: #f0e8e8;
  }
}

/* Apps */

.app-item {
  margin-top: 15px;
}

.list-latest-header h5 {
  font-family: shentox, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #f9f4f4;
}

.list-latest-header h4 {
  margin-top: 5px;
  font-family: "maquette", Arial, serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 68, 34);
}

.list-latest-header li {
  margin-top: 10px;
}

/* Latest deals */

.deals {
  margin-bottom: 50px;
}

.footer-top {
  background-color: rgba(19, 19, 19, 1);
  height: 100px;
}

.footer-top i {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 15px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid rgb(51, 51, 51);
}

.footer-top i:hover {
  background-color: rgba(19, 19, 19, 1);
}

.footer-text {
  color: grey;
  font-size: 10px;
}

.first li {
  float: right;
  padding-right: 5px;
}

.float-right-rj li {
  float: right;
}

.footer-text span {
  margin: 0 6px;
}

.footer-text span:hover {
  color: #fff;
}

.footer-bottom {
  height: 50px;
  background-color: black;
}

small {
  color: red;
}

@media (max-width: 768px) {
  .list-slide-description {
    display: flex;
    flex-direction: row;
  }

  .gallery-item .image {
    width: 60px;
    height: 70px;
    overflow: hidden;
  }

  .gallery-latest .image {
    width: 100%;
    height: 100%;
  }

  .gallery-item .image img,
  .gallery-latest .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item .slide-description {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 0;
    padding-right: 20px;
  }

  .gallery-item .author {
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 0;
  }
}
